@model InternshipManagement.Models.EditCVViewModel

@{
    ViewBag.Title = "EditCV";
    Layout = "~/Views/Shared/_LTELayout.cshtml";
}
<h2>Edit CV</h2>

@using (Html.BeginForm("EditCV", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @* Check if there is a success message in TempData and display it *@
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div>
        @Html.LabelFor(m => m.AvatarImage, "Avatar Image")
        @Html.TextBoxFor(m => m.AvatarImage, new { type = "file" })
        @Html.ValidationMessageFor(m => m.AvatarImage)
    </div>
    <div>
        @Html.LabelFor(m => m.User.FirstName)
        @Html.TextBoxFor(m => m.User.FirstName)
    </div>

    <div>
        @Html.LabelFor(m => m.User.LastName)
        @Html.TextBoxFor(m => m.User.LastName)
    </div>

    <!-- Add other user fields here -->

    <div>
        @Html.LabelFor(m => m.Profile.Bio)
        @Html.TextBoxFor(m => m.Profile.Bio)
    </div>

    <!-- Add other profile fields here -->

    <h3>Change Password</h3>

    <div>
        @Html.LabelFor(m => m.OldPassword, "Old Password")
        @Html.PasswordFor(m => m.OldPassword)
    </div>

    <div>
        @Html.LabelFor(m => m.NewPassword, "New Password")
        @Html.PasswordFor(m => m.NewPassword)
    </div>

    <div>
        @Html.LabelFor(m => m.ConfirmPassword, "Confirm New Password")
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>

    <button type="submit">Save Changes</button>
}